
body { 
    background-image: url(20230312_001648.png);
    background-color: #EEF1F6;
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: top,center;
}

#check2{
    background-color: brown;
    

}


#T1{height: 30px;
    width: 30px; 
    background-color: rgb(181, 249, 226); 
    font: italic bold 10px Georgia, Serif;
}
#T2{height: 30px;
    width: 30px;
    background-color: rgb(225, 249, 181);
 
}
#T3{height: 30px;
    width: 30px;
    background-color: rgb(245, 230, 244);

} 
#T4{height: 30px;
    width: 30px;
    background-color: rgb(219, 254, 250);

}
#T5{height: 30px;
    width: 30px;
    background-color: rgb(244, 241, 209);

}
#T6{height: 30px;
    width: 30px;
    background-color: rgb(225, 252, 222);

}
#T7{height: 30px;
    width: 30px;
    background-color: rgb(221, 223, 248);

}
#t1{height: 30px;
    width: 30px;
    background-color: rgb(141, 244, 210);
}
#t2{height: 30px;
    width: 30px;
    background-color: rgb(209, 245, 142);

}
#t3{height: 30px;
    width: 30px;
    background-color: rgb(254, 168, 248);

}
#t4{height: 30px;
    width: 30px;
    background-color: rgb(167, 250, 240);

}
#t5{height: 30px;
    width: 30px;
    background-color: rgb(250, 242, 159);

}
#t6{height: 30px;
    width: 30px;
    background-color: rgb(176, 248, 167);

}
#t7{height: 30px;
    width: 30px;
    background-color: rgb(181, 185, 250);

}
#t8{height: 30px;
    width: 30px;
    background-color: rgb(181, 242, 250); 

}
#t10{height: 30px;
    width: 30px;
    background-color: rgb(200, 250, 181);

}
#T8{height: 30px;
    width: 30px;
    background-color: rgb(220, 242, 245);

}
#t9{height: 30px;
    width: 30px;
    background-color: rgb(250, 181, 181);

}
#T9{height: 30px;
    width: 30px;
    background-color: rgb(245, 211, 211);

}
#H10{height: 30px;
    width: 30px;
    background-color:rgb(227, 247, 219);

}
#T10{height: 30px;
    width: 30px;
    background-color: rgb(181, 243, 168);
    text-align: center;

}
#M10{height: 30px;
    width: 225px;
    background-color: rgb(181, 243, 168);
    text-align: center;

}
#T88{height: 30px;
    width: 110px;
    text-align: center;
    background-color:white ;
}
#T99{height: 30px;
    width: 110px;
    text-align: center;
    background-color:white ;
}
#T{
    border-color: black;
}
#I1{
    height: 25px;
    width: 100px;
    text-align: center;
}
#I2{
    height: 25px;
    width: 100px;
    text-align: center;
}
#I111{
    height: 25px;
    width: 100px;
    text-align: center;
}
#I222{
    height: 25px;
    width: 100px;
    text-align: center;
}
#B1{
    height: 35px;
        width: 120px;
        background-color: #CACBD5;
  font-size: large; 
  font: italic bold 16px Georgia, Serif;
  border-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  box-shadow: 3px 5px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 50px;
 border-style:double;
}
#B2{ 
    height: 35px;
        width: 120px;
        background-color: #CACBD5;
  font-size: large; 
  font: italic bold 16px Georgia, Serif;
  border-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  box-shadow: 3px 5px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 50px;
 border-style:double;
}
#BB3{
     height: 35px;
        width: 120px;
        background-color: #CACBD5;
  font-size: large; 
  font: italic bold 16px Georgia, Serif;
  border-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  box-shadow: 3px 5px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 50px;
 border-style:double;
}
#T888{height: 30px;
    width: 110px;
    text-align: center;
    background-color:white ;
}
#T999{height: 30px;
    width: 110px;
    text-align: center;
    background-color:white ;
}
#T8888{height: 30px;
    width: 110px;
    text-align: center;
    background-color:white ;
}
#T9999{height: 30px;
    width: 110px;
    text-align: center;
    background-color:white ;
}